$brd_radius_xxs: 0.75rem;
$brd_radius_xs: 0.625rem;
$brd_radius_s: 0.875rem;
$brd_radius_md: 1.25rem;
$brd_radius_lg: 1.5rem;

$cl_black: #222;
$cl_f4: #f4f4f4;

$fs_head_title: 2.125rem;
$fs_title: 1.5rem;

$lh_nomal: 1.25rem;
